#comment-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .card-title {
        font-size: 1.3vw;
    }

    .card-text {
        font-size: 1vw;
    }

    .service-offer-title {
        margin-top: 0px;

        &-section {
            font-family: 'Catamaran', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
            font-weight: 500;
        }
    }

}