.footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__section {
        margin: 1rem;
        flex: 1;
        min-width: 200px;

        @media (max-width: 768px) {
            min-width: 100%;
            margin: 0.5rem 0;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            font-size: 1.25rem;
        }
    }

    &__text {
        font-size: 1rem;

        @media (max-width: 768px) {
            font-size: 0.875rem;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        .footer__list-item {
            margin-bottom: 0.5rem;
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 1rem;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__social-link {
        color: #ffffff;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
            color: #61dafb;
        }

        @media (max-width: 768px) {
            font-size: 1.25rem;
        }
    }

    &__bottom {
        max-width: 1200px;
        margin-top: 2rem;
        font-size: 0.875rem;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 0.75rem;
            margin-top: 1rem;
        }
    }

    &__bottom-text {
        margin: 0;
    }
}
