#widget-container {
  margin-top: 50px;

  .open-hour-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;

    &--schedule {
      width: 50%;

      table {
        td {
          font-size: 1.25rem;
          padding: 14px 0;
          border-top: none;
          border-bottom: 1px dashed #aaa;
        }

        .text-end {
          font-weight: 600;
        }
      }
    }

    &--title {
      width: 50%;
      padding-left: 50px;
    }
  }
}