#pricing-card {
    width: 40%;
    padding: 20px;
    margin: auto;

    .pricing-section {
        display: block;
        color: #8e8987;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        margin-bottom: 28px;
    }

    .pricing-title {
        line-height: 1;
        margin-bottom: 40px;
    }

    .pricing-list {
        margin: 0;
        padding: 0;
        list-style: none;

        .pricing-6-item {
            margin-bottom: 15px;

            .price-text {
                .p-md {
                    font-weight: 400;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    font-size: 1.125rem;
                    color: #6c757d !important;
                }

            }

            .detail-price {
                display: table;
                margin: 0;

                .price-name {
                    position: relative;
                    display: table-cell;
                    width: 1%;
                    white-space: nowrap;
                    padding: 0 10px 0 0;

                    h5 {
                        position: relative;
                        line-height: 1;
                        margin-bottom: 0;
                        font-size: 1.1vw;

                        @media screen and (max-width: 992px) {
                            font-size: 0.85rem;
                        }

                        @media screen and (max-width: 600px) {
                            font-size: 0.75rem;
                        }

                        @media screen and (max-width: 540px) {
                            font-size: 0.65rem;
                        }
                    }
                }

                .price-dots {
                    position: relative;
                    display: table-cell;
                    height: 3px;
                    width: 98%;
                    z-index: 1;
                    background-image: radial-gradient(circle closest-side, #878889 99%, transparent 100%);
                    background-position: 50% 100%;
                    background-size: 5px 2px;
                    background-repeat: repeat-x;
                }

                .price-number {
                    display: table-cell;
                    width: 1%;
                    padding: 0 0 0 10px;
                    white-space: nowrap;

                    h5 {
                        position: relative;
                        line-height: 1;
                        margin-bottom: 0;
                        font-size: 1.1vw;

                        @media screen and (max-width: 992px) {
                            font-size: 0.85rem;
                        }

                        @media screen and (max-width: 600px) {
                            font-size: 0.75rem;
                        }

                        @media screen and (max-width: 540px) {
                            font-size: 0.65rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #pricing-card {
        width: 80%;
        padding: 15px;
    }

    .pricing-section {
        font-size: 0.85rem;
    }

    .pricing-title {
        margin-bottom: 30px;
    }

    .pricing-6-item {
        margin-bottom: 10px;
    }

    .price-text .p-md {
        font-size: 1rem;
    }
}

/* Responsive for mobile devices */
@media screen and (max-width: 480px) {
    #pricing-card {
        width: 100%;
        padding: 10px;
    }

    .price-name h5 {
        font-size: 1.2rem;
    }

    .price-number h5 {
        font-size: 1.2rem;
    }

    .pricing-section {
        font-size: 0.8rem;
    }

    .pricing-title {
        margin-bottom: 20px;
    }

    .pricing-6-item {
        margin-bottom: 5px;
    }

    .price-text .p-md {
        font-size: 0.9rem;
    }

    .detail-price {
        display: block;
        /* Hiển thị dọc */
        margin-bottom: 10px;
    }
}