.service-offer-title {
  text-align: center;
  margin-top: 100px;

  &-section {
    display: block;
    color: #8e8987;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    margin-bottom: 28px;
  }

  h2 {
    color: #373b4d;
    font-family: "Lora", serif;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: -0.015625rem;
    margin-bottom: 50px;
  }
}

#service-offer-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;

  /* Đặt kích thước mặc định cho ServiceCard */
  &>* {
    margin-bottom: 20px;
    flex: 1 1 calc(33.333% - 20px);
    /* Điều chỉnh để có 3 cột trên màn hình lớn */
  }
}

/* Media queries cho các kích thước màn hình nhỏ hơn */
@media (max-width: 768px) {
  .service-offer-title {
    margin-top: 50px;
  }

  .service-offer-title-section {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .service-offer-title h2 {
    font-size: 1.75rem;
    margin-bottom: 30px;
  }

  #service-offer-container {
    width: 90%;
    /* Khi màn hình nhỏ hơn 768px, thay đổi cách sắp xếp thành cột */
    flex-direction: column;

    /* Đổi hướng sắp xếp thành cột */
    &>* {
      flex: 1 1 100%;
      /* Mỗi phần tử chiếm toàn bộ chiều rộng của container */
    }
  }
}

@media (max-width: 480px) {
  .service-offer-title {
    margin-top: 30px;
  }

  .service-offer-title-section {
    font-size: 0.75rem;
    margin-bottom: 15px;
  }

  .service-offer-title h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  #service-offer-container {
    width: 100%;
    /* Đặt chiều rộng 100% cho màn hình rất nhỏ */
  }
}