#service-card {
  width: calc((100% / 3) - 20px);
  /* 3 cột trên màn hình lớn */
  text-align: center;
  font-family: "Lora", serif;
  margin-bottom: 20px;

  .image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.5s;
    }

    img {
      width: 100%;
      transition: 0.5s;
    }
  }

  h5 {
    margin-top: 30px;
  }

  a {
    text-decoration: none;
    color: #201e29;
    padding-bottom: 10px;
  }

  &:hover {
    a {
      border-bottom: 2px solid #201e29;
    }

    img {
      scale: 1.05;
    }

    .image-wrapper {
      .overlay {
        background-color: white;
        opacity: 0.1;
      }
    }
  }
}

/* Media queries cho kích thước màn hình nhỏ hơn */
@media (max-width: 1024px) {
  #service-card {
    width: calc((100% / 2) - 20px);
    /* 2 cột trên màn hình tầm trung */
  }
}

@media (max-width: 768px) {
  #service-card {
    width: 80%;
    /* Chiếm toàn bộ chiều rộng trên màn hình nhỏ */
    margin-bottom: 20px;
  }

  .image-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
}