body {
    min-width: 420px;
}

.link-to-page {
    text-align: center;
    margin-top: 50px;
}
.link-to-page a {
    text-decoration: none;
    color: #373b4d;
    font-family: 'Lora', serif;
    font-weight: 700;
}
.link-to-page a:hover {
    border-bottom: 1px solid #373b4d;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spinner 1s linear infinite;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}