* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  color: #373b4d;
  font-family: 'Lora', serif;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.015625rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.75rem;
}
h5 {
  font-size: 1.625rem;
}
p {
  font-size: 1.1875rem;
}